<div class="row">
  <div class="col-md-12">
    <form [formGroup]="this.travelService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label class="lead font-weight-bold">Task name</label>
        <!-- we will add this class is-invalid with the help of [ngClass] directive
                            this class will be applied when the form is submitted and we have a validation error regarding full name -->
        <input formControlName="taskName" class="form-control"
          [ngClass]="{'is-invalid':submitted && formControls.taskName.errors}">
        <!-- now we will add an additional due to show the exact reason for the validation error so here we have the deal with this class invilid-feedback
                                    only based on the same condition inside that -->
        <div class="invalid-feedback" *ngIf="submitted && formControls.taskName.errors">This field is required</div>
      </div>
      <div class="form-group"><label class="lead font-weight-bold">Start date</label>
        <input matInput [matDatepicker]="picker1" placeholder="Choose a date" formControlName="startDate" class="form-control"
          [ngClass]="{'is-invalid':submitted && formControls.startDate.errors}">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <div class="invalid-feedback" *ngIf="submitted && formControls.startDate.errors">This field is required</div>
      </div>

      <div class="form-group"><label class="lead font-weight-bold">End date</label>
        <input matInput [matDatepicker]="picker2" placeholder="Choose a date" formControlName="endDate" class="form-control"
          [ngClass]="{'is-invalid':submitted && formControls.endDate.errors}">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <div class="invalid-feedback" *ngIf="submitted && formControls.endDate.errors">This field is required</div>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Submit">
      </div>
    </form>


  </div>
  <div class="col-md-12">
    <app-todo-list>

    </app-todo-list>
  </div>
</div>