<h2 class="text-center my-2">Saved travels</h2>
<table class="table table-sm mt-3">
    <thead>
            <th>Destination</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Rating</th>
            <th></th>
    </thead>
    <ng-container *ngFor="let dest of travelArray">
            <tr class="table" *ngIf ="filterCondition(dest)">
                    <td>{{dest.destination}}</td>
                    <td>{{dest.startDate}}</td>
                    <td>{{dest.endDate}}</td>
                    <td>{{dest.rating}}</td>
                    <td>
                        <button class="btn btn-info" (click)="travelService.populateForm(dest)" >Edit</button>
                        <button class="btn btn-danger" (click)="onDelete(dest.$key)">Delete</button>
                    </td>
            </tr>
    </ng-container>
</table>
<div class="alert alert-danger" *ngIf="showDeletedMessage" >Deleted successfully</div>
<form class="form-inline col-6 mx-auto justify-content-center">
                <input name="searchInput" class="form-control" placeholder="Search"
                #searchInput="ngModel" [(ngModel)]="searchText">
                <button class="btn btn-outline-primary" (click)="searchText=''">x</button>
        </form>